.container {
	display: grid;
	grid-template-columns: 100px 100px 100px 100px 100px 100px ;
	grid-template-rows: 50px 50px 50px;
	gap:25px;
}


.item {
	width: 100px;
	height: 50px;
	text-align: center;
	color: black;
	font-size: 15px;
	font-weight: bold;
	font-family: "Shrikhand";
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:white;
  border-radius: 10px;
  box-shadow: 0px 1px 6px gray;
  border: #e0e0e3;
	}

  .item:hover{
    background-color: #EAFDFC;
  }